PORT=
BASE_URL=

MONGO_URL=

MAILTRAP_HOST =
MAILTRAP_PORT =
MAILTRAP_USERNAME =
MAILTRAP_PASSWORD =
MAILTRAP_SENDEREMAIL =

ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRESIN=

REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRESIN=

ACCESS_TOKEN_MAX_AGE=
REFRESH_TOKEN_MAX_AGE=